<!DOCTYPE html>
<html>
    <head>
        <title>
            About Us
        </title>
        <meta charset="UTF-8">
        <title>Dealership Review</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    </head>
    
    <body>
        {% include 'navBar.html' %}
        <h1>
            Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
        </h1>
        <p> Best Car Dealership - Where Excellence Meets Every Mile! At Best Car Dealership, we redefine automotive excellence with a 
            passion for providing top-notch vehicles and unparalleled service. With a team of dedicated experts, we handpick the finest 
            selection of cars, ensuring each one meets our rigorous standards of quality and performance. Our mission is to make every 
            journey a memorable one, whether it's a daily commute or an adventurous road trip. With transparent pricing, unmatched customer 
            care, and a commitment to exceeding expectations, we're not just selling cars, we're crafting experiences. Discover the pinnacle 
            of automotive satisfaction at Best Car Dealership, because your journey deserves nothing but the best!
        </p>
    </body>
</html>